<footer >
    <div class="f-info">
        <p>© 2024 Airbnb, Inc</p>
       <ul>
        <li> 
            <div class="privacy"><a href="/">  Privacy  </a></div>
        </li>
        <li>
            <div class="terms"><a href="/">  terms  </a></div>
            </li>
            <li>
                <div class="company-details"><a href="/">  Company details  </a></div>
            </li>
       </ul>
    </div>
</footer>