<% layout('layouts/boilerplate') %>
<body>
    <div class="new">
    <form method="POST" class="needs-validation" novalidate action="/login">
    <h2>login</h2> <br>
    
   <div class="Username">
    <label for="Username" class="form-label">Username:</label>
    <input type="text" class="form-control" id="Username" name="username" required> 
     <div class="invalid-feedback">
        Please Enter Valid Username
      </div>
   </div>

    <div class="password">
    <label for="password" class="form-label">Password:</label>
    <input type="password" class="form-control" id="password" name="password" required> 
    <div class="invalid-feedback">
        Please Enter Valid Password
      </div>
    </div>

    <button class="middle">Login</button>
    </form>
    </div>
</body>