<% layout('layouts/boilerplate') %>
<div id="filters">
  <div id="filter">
    <i class="fa-solid fa-mountain-sun"></i>
    <p>Top of the World</p>
  </div>
  <div id="filter">
    <i class="fa-solid fa-fire"></i>
    <p>Trending</p>
  </div>
  <div id="filter">
    <i class="fa-solid fa-bed"></i>
    <p>Room</p>
  </div>
  <div id="filter">
    <i class="fa-solid fa-mountain-city"></i>
    <p>iconic city</p>
  </div>
  <div id="filter">
    <i class="fa-solid fa-person-swimming"></i>
    <p>Swiming pool</p>
  </div>
  <div id="filter">
    <i class="fa-solid fa-snowflake"></i>
    <p>Arctic</p>
  </div>
  <div class="switch">
  <div class="form-check form-switch form-check-reverse">
    <input class="form-check-input" type="checkbox" id="flexSwitchCheckReverse">
    <label class="form-check-label" for="flexSwitchCheckReverse">Total Amount after taxes</label>
  </div>
</div>
</div>
  <div class="row row-cols-lg-3 row-cols-md-2 row-cols-sm-1">
    <%  for(listing of alllisting){ %>
      <a href="/show/listing/<%= listing._id %>" style="text-decoration: none;">
       <div class="card" style="width: 20rem">
           <img class="img" src="<%=listing.image.url %>" class="card-img-top" style="height: 16rem" alt="listing Image"  >
           <div class="card-body">
             <h5 class="card-title"><%= listing.title %> </h5>
             <h5>Price</h5>
<% if (listing.price != null) { %>
    &#8377;<%= listing.price.toLocaleString("en-IN") %> / Night
    <i class="GST">&nbsp; +18%GST</i>
<% } else { %>
    <span>Price not available</span>
<% } %>
            </div>
          </div>
  <% } %>
  </div>